<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About page</h1>

  <p>
    Rankster is a great way for tennis fans to share opinions on ATP and WTA players. 
  </p>

  <p>
  Track and rate your favorites, share comments on individual players, and upload fan photos.
  </p>

</div>  