<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About page</h1>

  <p>
    Rankster is a community for tennis fans and fanatics.
  <p>
    Track and rate your favorite ATP and WTA tennis athletes, share comments on players, and upload fan photos.
  </p>

</div>  