<div class="text-center">
  <h1>Men's Players</h1>
</div>

<% @players.each do |player| %>
  <div class="players-box col-xs-10 col-xs-offset-1">
    <h2><%= link_to player.name, player_path(player) %></h2>
  </div>
<% end %>